services:
  skillpath:
    image: zerogamer/skillpath-web:latest
    container_name: skillpath_app
    ports:
      - "3000:3000"
    logging:
      driver: loki
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-external-labels: job=skillpath,env=dev
    depends_on:
      - loki

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yml:/etc/loki/config.yml
    command: -config.file=/etc/loki/config.yml

  grafana:
    image: grafana/grafana:10.2.3
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      - loki
